/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

:root{
  --background-color: #080808;
  --secondary-background-color: #131313;
  --text-color: white;
  --main-text-color: #00a4fb;
  --transparent-color:#00000000;
  --main-text-font-family: "Poppins", sans-serif;

  --main-padding: 1em;
  --horisontal-padding: 10em;
  --vertical-padding: 1em;
}
body{
  background-color: var(--background-color);
  color: var(--text-color);

}

/** --------------------------Start Header Section----------------------*/

#header-section{
  width: 100%;
  padding: var(--vertical-padding) var(--horisontal-padding);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--background-color);
}
.logo{
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.8em;
  letter-spacing: 4px;
  cursor: pointer;

}
#logo-container{
  transform: scale(1);
  transition: 0.2s;
}
#logo-container:hover{
  transform: scale(1.2);
  transition: 0.5s;
}
.rich-logo{
  color: var(--main-text-color);
  text-shadow: 0 0 25px var(--main-text-color);

}
.links-container{

  display: flex;
  justify-content: space-between;


}
.links-container a, .links-container a:visited, .links-container a:hover{
  border-bottom: 3px solid var(--transparent-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 0.2em 0;
  margin: 0 1.5em;
  cursor: pointer;
  animation: item-zoom-out 0.2s;
  transition: 0.2s;

}

.links-container a:hover{
  color: var(--main-text-color);
  border-bottom: 3px solid var(--main-text-color);
  animation: item-zoom-in;
  animation-duration: 0.5s;
  transition: 0.5s;
  transform: scale(1.2);
}



@keyframes item-zoom-in {
  from {transform: scale(1);}
  to {transform: scale(1.2);}
}
@keyframes item-zoom-out {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
}

/*============================== End Header Section======================*/



/**============================= Start Home Section======================*/
#home-section{
  height: 90vh;
  padding: var(--vertical-padding) var(--horisontal-padding);
  display: flex;
  justify-items: center;
  align-items: center;
}

.person-image{
  margin-left: 4em;
  width: 30vw;
  height: 30vw;
  object-fit: cover;
  float: right;
  border-radius: 50%;
  box-shadow: 0 0 40px var(--main-text-color);
  transition: 0.4s ease-in-out;
}
.person-image:hover{
  box-shadow: 0 0 25px var(--main-text-color), 0 0 50px var(--main-text-color), 0 0 100px var(--main-text-color);
}

#home-section .home-content-container h1{
  font-size: 4em;
  line-height: 1.5em;
  span{
    color: var(--main-text-color);
  }
}
#home-section .home-content-container h2{
  font-size: 2em;
  line-height: 1.5em;
  span{
    color: var(--main-text-color);
  }
}
#home-section .home-content-container p{
  font-size: 1.2em;
}
#home-section .home-content-container .social-items *:hover{
  text-shadow: 0 0 20px var(--main-text-color), 0 0 30px var(--main-text-color);
}
#home-section .home-content-container .social-items{
  margin: 0.5em 0;
}
.btn-container{
  display: flex;
}
.btn-container div{
  padding: 0.5em 1.5em;
  margin-right: 2em;
  margin-top: 1em;
  display: inline-block;
  border: 4px solid var(--main-text-color);
  border-radius: 2em;
  cursor: pointer;

}
.btn-container div:hover{
  background-color: var(--main-text-color);
  color: var(--background-color);
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 20px var(--main-text-color),
  0 0 30px var(--main-text-color),
  0 0 40px var(--main-text-color);

}
.btn-container div *{
  font-size: 2em;
}
.btn-container .hire-btn{
  background-color: var(--main-text-color);
  color: var(--background-color);
  font-weight: 600;
  box-shadow: 0 0 20px var(--main-text-color);

}
.btn-container .contact-btn{
  background-color: var(--transparent-color);
  color: var(--main-text-color);
  font-weight: 600;
}

/**=======================start education section======================*/
#education-section{
  align-items: end;
  padding-top: 4em;
  height: 50vh;
}
.education-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:  var(--vertical-padding) var(--horisontal-padding);
}
.education-container h1{
  font-size: 4em;

}
.education-container::before{
  content: "";
  position: absolute;
  border-radius: 12px;
  left: calc(50% - 6px);
  width: 6px;
  height: 100%;
  margin-top: 15vh;
  background-color: var(--main-text-color);
}
.education-item {
  width: 100%;
  margin-right: calc(50% + 2em);
  margin-top: 1em;
  border: 3px solid var(--main-text-color);
  border-radius: 3em;
  padding: 2em;
  text-align: right;
}
.education-dot{
  width: 2em;
  height: 2em;
  background-color: var(--main-text-color);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 1em - 3px);
}
.education-item .education-date{
  font-size: 2em;
  letter-spacing: 4px;
}
.education-item h2{
  font-size: 1.5em;
  padding: 12px 0px;

}



/**=======================end education section========================*/



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: var(--main-text-font-family);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

